input, textarea, select, button{
  $boxSizing: border-box;
  box-sizing: $boxSizing;
  -moz-box-sizing: $boxSizing;
  -webkit-box-sizing: $boxSizing;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="textarea"],
textarea{
  font: {
    family: "Roboto", "Arial", sans-serif;
    size: 16px;
    weight: 300;
  }
  padding: 6px 10px 7px;
  border: 1px solid $gray;
}

textarea{
  resize: none;
}

input[type="radio"],
input[type="checkbox"]{
  position: relative;
  top: 0.15em;
  margin: 0;
}

label{
  margin: 0 1em 0 0.2em;
}

.buttons{
  display: block;
  padding: 10px 2em 9px;
  font:{
    size: 14px;
    weight: 300;
  }
  line-height: 1.2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: $green;
  border: none;
  border-bottom: 1px solid darken($green, 6%);
  color: #fff;
  transition: 0.2s;
  cursor: pointer;
  a{
    text-decoration: none;
    color: #ffffff;
  }
  &:hover{
    background-color: darken($green, 3%);
    border-bottom-color: darken($green, 10%);
  }
  &.orange{
    background-color: $orange;
    border-bottom: 1px solid darken($orange, 6%);
    &:hover{
      background-color: darken($orange, 3%);
      border-bottom-color: darken($orange, 10%);
    }
  }
  &.gray{
    background-color: darken($gray, 10%);
    border-bottom: 1px solid darken($gray, 20%);
    &:hover{
      background-color: darken($gray, 5%);
      border-bottom-color: darken($gray, 15%);
    }
  }
  i{
    color: #fff;
  }
}

.form{
  .form-row{
    margin-bottom: 15px;
  }
  .form-title{
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3em;
  }
  &.login{
    .controls{
      padding-top: 15px;
      li{
        margin-bottom: 5px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}