// columns in the row
$units: 6;
// margin between columns
$margin: 3%;

@mixin _columnWidth ($columns, $units){

  $width: ((100%/$units)*$columns);

  @if $width > 100%{
    width: 100%;
  }
  @else{
    width: $width;
  }
}

@mixin columnWidth ($columns, $units){

  $marginTotal: $margin * ($units - $columns);

  $width: ((100%/$units)*$columns) - ($marginTotal/$units);

  @if $width > 100%{
    width: 100%;
  }
  @else{
    width: $width;
  }

  margin-right: $margin;

  &:last-child,
  &:nth-child(#{0n + $units}){
    margin-right: 0;
  }
}

.common-grid{
  .row{
    @extend .clearfix;

    @for $i from 1 to ($units + 1){
      > .c#{$i}{
        display: inline-block;
        float: left;
        i{
          display: block;
          height: 10px;
          margin-bottom: 1px;
        }
      }
    }

    @for $i from 2 to ($units + 1) {
      &.x#{$i}{
        @for $k from 1 to $i {
          > .c#{$k}{
            @include columnWidth($k, $i);

            @media screen and (min-width: 801px) and (max-width: 1280px) {
              @include columnWidth($k, round($i/2));
            }
            @media screen and (min-width: 681px) and (max-width: 800px) {
              @include columnWidth($k, round($i/3));
            }
            @media screen and (max-width: 680px) {
              @include columnWidth($k, round($i/6));
            }
          }
        }
      }
    }
  }
}