@import "reset";
@import "clearfix";
@import "vars";
@import "forms";
@import "grid";

.small{
  font-size: 12px;
  line-height: 1.3em;
}
.smallUppercase{
  font-size: 13px;
  line-height: 1.3em;
  text-transform: uppercase;
}

body{
  background: $grayBlue;
  color: #fff;
  font: 14px/1.3em "Roboto", Arial, sans-serif;
  font-weight: 300;
}

img{
  display: block;
}

a{
  color: $blue;
  text-decoration: underline;
  outline: none;
  &:hover{
    text-decoration: none;
  }
}

.bold, b, strong{
  font-weight: 500;
}

.w100{
  width: 100%;
}

h1{
  margin-bottom: 30px;
  font: {
    size: 32px;
    weight: 300;
  }
  line-height: 1.2em;
}

.header{
  $height: 50px;
  background-color: $green;
  > .inline{
    display: inline-block;
    float: left;
    height: $height;
    &.logo{
      width: $asideWidth;
      background-color: $darkGrayBlue;
      img{
        max-width: 100%;
        margin: 0 auto;
      }
      @media screen and (min-width: 481px) and (max-width: 1024px) {
        width: $asideWidthMinified;
        img{
          margin: (($height - ($height * $asideWidthMinified) / $asideWidth) / 2) auto;
        }
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
    &.notifications,
    &.user-controls{
      a{
        @extend .smallUppercase;
        display: table-cell;
        height: $height;
        padding: 0 15px;
        vertical-align: middle;
        text-decoration: none;
        color: #fff;
        &:hover{
          background-color: $darkGreen;
        }
      }
    }
    &.user-controls{
      float: right;
    }
    @media screen and (max-width: 480px) {
      display: block;
      float: none;
    }
  }
}

.content{
  .aside{
    position: absolute;
    width: $asideWidth;
    a{
      color:#fff;
      transition: 0.2s;
    }
    .nav{
      $height: 42px;
      @extend .smallUppercase;
      a{
        display: block;
        padding: 12px 50px 12px 20px;
        text-decoration: none;
        border-bottom: 1px solid lighten($grayBlue, 3%);
        &.active,
        &:hover{
          background-color: $green;
          border-color: $green;
        }
      }
      > li{
        position: relative;
        > i{
          position: absolute;
          right: 0;
          z-index: 2;
          width: 40px;
          height: $height;
          background: url("../img/darr.png") 50% 50% no-repeat;
          cursor: pointer;
          transition: 0.2s;
          &:hover{
            background-color: $green;
          }
        }
        &.active{
          > i{
            background-image: url("../img/uarr.png");
          }
          ul{
            display: block;
          }
        }
      }
      ul{
      display: none;
      }
    }
    @media screen and (min-width: 481px) and (max-width: 1024px) {
      width: $asideWidthMinified;
    }
    @media screen and (max-width: 480px) {
      position: relative;
      width: 100%;
    }
  }
  > .wrapper{
    margin-left: $asideWidth;
    padding: 30px 40px;
    background-color: $lightGray;
    color: $black;

    @media screen and (min-width: 481px) and (max-width: 1024px) {
      margin-left: $asideWidthMinified;
    }
    @media screen and (max-width: 480px) {
      margin-left: 0;
    }
  }
}