@import "reset";
@import "clearfix";
@import "vars";

.smallUppercase{
  font-size: 13px;
  line-height: 1.3em;
  text-transform: uppercase;
}

body{
  background: $grayBlue;
  color: #fff;
  font: 14px/1.3em "Roboto", Arial, sans-serif;
  font-weight: 300;
}

img{
  display: block;
}

a{
  text-decoration: underline;
  outline: none;
  &:hover{
    text-decoration: none;
  }
}

.b, b, strong{
  font-weight: 500;
}

.header{
  $height: 50px;
  background-color: $green;
  > .inline{
    display: inline-block;
    float: left;
    height: $height;
    &.logo{
      width: $asideWidth;
      background-color: $darkGrayBlue;
    }
    &.notifications,
    &.user-controls{
      a{
        @extend .smallUppercase;
        display: table-cell;
        height: $height;
        padding: 0 15px;
        vertical-align: middle;
        text-decoration: none;
        color: #fff;
        &:hover{
          background-color: $darkGreen;
        }
      }
    }
    &.user-controls{
      float: right;
    }
  }
}

.content{
  .aside{
    position: absolute;
    width: $asideWidth;
    a{
      color:#fff;
      transition: 0.2s;
    }
    .nav{
      @extend .smallUppercase;
      //@extend .b;
      a{
        display: block;
        padding: 12px 50px 12px 20px;
        text-decoration: none;
        border-bottom: 1px solid lighten($grayBlue, 3%);
        &.active,
        &:hover{
          background-color: $green;
          border-color: $green;
        }
      }
      > li{
      position: relative;
      > i{
        position: absolute;
        right: 0;
        width: 40px;
        height: 42px;
        background: url("../img/darr.png") 50% 50% no-repeat;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
          background-color: $green;
        }
      }
       &.active{
         > i{
           background-image: url("../img/uarr.png");
         }
         ul{
           display: block;
         }
       }
      }
      ul{
      display: none;
      }
    }
  }
  .wrapper{
    margin-left: $asideWidth;
    background-color: $lightGray;
    color: $black;
  }
}