@import "reset";
@import "clearfix";
@import "vars";
@import "forms";
@import "grid";

.small{
  font-size: 12px;
  line-height: 1.3em;
}
.smallUppercase{
  font-size: 13px;
  line-height: 1.3em;
  text-transform: uppercase;
}

body{
  background: $grayBlue;
  color: #fff;
  font: 14px/1.3em "Roboto", Arial, sans-serif;
  font-weight: 300;
}

img{
  display: block;
}

.red{
  color: $red;
}
.green{
  color: $lightGreen;
}

a{
  color: $blue;
  text-decoration: underline;
  outline: none;
  &:hover{
    text-decoration: none;
  }
}

.bold, b, strong{
  font-weight: 500;
}

.w100{
  width: 100%;
}
.w75{
  width: 75%;
}
.w50{
  width: 50%;
}
.w25{
  width: 25%;
}

.left{ float: left; }
.right{ float: right; }

.fitted img{
  max-width: 100%;
}

.paginator{
  li{
    display: inline-block;
    float: left;
    &:first-child{
      margin-right: 5px;
    }
  }
  a{
    color: $black;
  }
}

h1{
  margin-bottom: 30px;
  font: {
    size: 32px;
    weight: 300;
  }
  line-height: 1.2em;
  i{
    &.fa{
      font-size: 0.75em;
      margin-top: 0.25em;
    }
  }
}

.bg{
  &-blue{
    background-color: $cyan;
    color: #fff;
    transition: 0.2s;
    a{
      color: #fff;
    }
    &:hover{
      background-color: lighten($cyan, 7%);
    }
  }
}

.header{
  $height: 50px;
  background-color: $green;
  > .inline{
    display: inline-block;
    float: left;
    height: $height;
    &.logo{
      width: $asideWidth;
      background-color: $darkGrayBlue;
      img{
        max-width: 100%;
        margin: 0 auto;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
    &.notifications,
    &.user-controls{
      a{
        @extend .smallUppercase;
        display: table-cell;
        height: $height;
        padding: 0 15px;
        vertical-align: middle;
        text-decoration: none;
        color: #fff;
        &:hover{
          background-color: $darkGreen;
        }
      }
    }
    &.user-controls{
      float: right;
    }
    @media screen and (max-width: 480px) {
      display: block;
      float: none;
    }
  }
}

.content{
  .aside{
    position: absolute;
    width: $asideWidth;
    a{
      color:#fff;
      transition: 0.2s;
    }
    .nav{
      $height: 42px;
      @extend .smallUppercase;
      a{
        display: block;
        padding: 12px 50px 12px 20px;
        text-decoration: none;
        border-bottom: 1px solid lighten($grayBlue, 3%);
        &.active,
        &:hover{
          background-color: $green;
          border-color: $green;
        }
      }
      > li{
        position: relative;
        > i{
          position: absolute;
          right: 0;
          z-index: 2;
          width: 40px;
          height: $height;
          background: url("../img/darr.png") 50% 50% no-repeat;
          cursor: pointer;
          transition: 0.2s;
          &:hover{
            background-color: $green;
          }
        }
        &.active{
          > i{
            background-image: url("../img/uarr.png");
          }
          ul{
            display: block;
          }
        }
      }
      ul{
      display: none;
      }
    }
    @media screen and (max-width: 640px) {
      position: relative;
      width: 100%;
    }
  }
  > .wrapper{
    margin-left: $asideWidth;
    padding: 50px 40px;
    background-color: $lightGray;
    color: $black;

    @media screen and (max-width: 640px) {
      margin-left: 0;
    }
  }
}
.stat{
  a{
    text-decoration: none;
  }
  .item{
    margin-bottom: 15px;
  }
  .wrapper{
    position: relative;
    padding: 10px 10px 35px;
  }
  .value{
    @extend .bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
  }
}

.edit-grid{
  .search-form{
    padding-bottom: 30px;
    .input{
      position: relative;
      a{
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        padding: 11px;
        text-decoration: none;
        color: $gray;
        transition: 0.2s;
        &:hover{
          color: $black;
        }
      }
    }
  }
  .scope{
    margin-bottom: 20px;
  }
  .del-confirm-src{
    display: none;
  }
  .items{
    @extend .clearfix;

    &:last-child{
      margin-bottom: 0;
    }
    .cols{
      display: table-cell;
      height: 35px;
      padding: 0 10px;
      vertical-align: middle;
      &.c1{
        @extend .small;

        position: relative;
        width: 60px;
        text-align: center;
        &:hover{
          background: #da4453;
          color: #fff;
        }
        .del-confirm{
          position: absolute;
          z-index: 10;
          top: 0;
          left: -3em;
          width: 3em;
          height: 100%;
          &:hover{
            background: $black;
            color: #fff;
          }
          a{
            display: block;
            width: 100%;
            padding: 10px 0;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.edit-form{
  textarea{
    height: 20em;
  }
}