@import url(http://fonts.googleapis.com/css?family=Roboto:300,500&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

a, object, embed {
  outline: 0; }

input::-moz-focus-inner {
  border: 0; }

.clearfix:after, .common-grid .row:after, .edit-grid .items:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .clearfix, * html .common-grid .row, .common-grid * html .row, * html .edit-grid .items, .edit-grid * html .items {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix, *:first-child + html .common-grid .row, .common-grid *:first-child + html .row, *:first-child + html .edit-grid .items, .edit-grid *:first-child + html .items {
  zoom: 1; }

/* IE7 */
input, textarea, select, button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="textarea"],
textarea {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 6px 10px 7px;
  border: 1px solid #e3e3e3; }

textarea {
  resize: none; }

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  top: 0.15em;
  margin: 0; }

select {
  max-width: 100%; }

label {
  margin: 0 1em 0 0.2em; }

.buttons {
  display: block;
  padding: 10px 2em 9px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #23bab5;
  border: none;
  border-bottom: 1px solid #1ea09c;
  color: #fff;
  transition: 0.2s;
  cursor: pointer; }
  .buttons a {
    text-decoration: none;
    color: #ffffff; }
  .buttons:hover {
    background-color: #21ada8;
    border-bottom-color: #1b8f8b; }
  .buttons.orange {
    background-color: #ff9900;
    border-bottom: 1px solid #e08700; }
    .buttons.orange:hover {
      background-color: #f09000;
      border-bottom-color: #cc7a00; }
  .buttons.gray {
    background-color: #cacaca;
    border-bottom: 1px solid #b0b0b0; }
    .buttons.gray:hover {
      background-color: #d6d6d6;
      border-bottom-color: #bdbdbd; }
  .buttons i {
    color: #fff; }

.form .form-row {
  margin-bottom: 15px; }
.form .extended-form-row {
  margin-bottom: 30px; }
.form .form-title {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3em; }
.form.login .controls {
  padding-top: 15px; }
  .form.login .controls li {
    margin-bottom: 5px; }
    .form.login .controls li:last-child {
      margin-bottom: 0; }

.common-grid .row > .c1 {
  display: inline-block;
  float: left; }
  .common-grid .row > .c1 i {
    display: block;
    height: 10px;
    margin-bottom: 1px; }
.common-grid .row > .c2 {
  display: inline-block;
  float: left; }
  .common-grid .row > .c2 i {
    display: block;
    height: 10px;
    margin-bottom: 1px; }
.common-grid .row > .c3 {
  display: inline-block;
  float: left; }
  .common-grid .row > .c3 i {
    display: block;
    height: 10px;
    margin-bottom: 1px; }
.common-grid .row > .c4 {
  display: inline-block;
  float: left; }
  .common-grid .row > .c4 i {
    display: block;
    height: 10px;
    margin-bottom: 1px; }
.common-grid .row > .c5 {
  display: inline-block;
  float: left; }
  .common-grid .row > .c5 i {
    display: block;
    height: 10px;
    margin-bottom: 1px; }
.common-grid .row > .c6 {
  display: inline-block;
  float: left; }
  .common-grid .row > .c6 i {
    display: block;
    height: 10px;
    margin-bottom: 1px; }
.common-grid .row.x2 > .c1 {
  width: 48.5%;
  margin-right: 3%; }
  .common-grid .row.x2 > .c1:last-child, .common-grid .row.x2 > .c1:nth-child(2n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x2 > .c1 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x2 > .c1:last-child, .common-grid .row.x2 > .c1:nth-child(1n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x2 > .c1 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x2 > .c1:last-child, .common-grid .row.x2 > .c1:nth-child(1n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x2 > .c1 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x2 > .c1:last-child, .common-grid .row.x2 > .c1:nth-child(0n) {
        margin-right: 0; } }
.common-grid .row.x3 > .c1 {
  width: 31.33333%;
  margin-right: 3%; }
  .common-grid .row.x3 > .c1:last-child, .common-grid .row.x3 > .c1:nth-child(3n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x3 > .c1 {
      width: 48.5%;
      margin-right: 3%; }
      .common-grid .row.x3 > .c1:last-child, .common-grid .row.x3 > .c1:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x3 > .c1 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x3 > .c1:last-child, .common-grid .row.x3 > .c1:nth-child(1n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x3 > .c1 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x3 > .c1:last-child, .common-grid .row.x3 > .c1:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x3 > .c2 {
  width: 65.66667%;
  margin-right: 3%; }
  .common-grid .row.x3 > .c2:last-child, .common-grid .row.x3 > .c2:nth-child(3n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x3 > .c2 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x3 > .c2:last-child, .common-grid .row.x3 > .c2:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x3 > .c2 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x3 > .c2:last-child, .common-grid .row.x3 > .c2:nth-child(1n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x3 > .c2 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x3 > .c2:last-child, .common-grid .row.x3 > .c2:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x4 > .c1 {
  width: 22.75%;
  margin-right: 3%; }
  .common-grid .row.x4 > .c1:last-child, .common-grid .row.x4 > .c1:nth-child(4n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x4 > .c1 {
      width: 48.5%;
      margin-right: 3%; }
      .common-grid .row.x4 > .c1:last-child, .common-grid .row.x4 > .c1:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x4 > .c1 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x4 > .c1:last-child, .common-grid .row.x4 > .c1:nth-child(1n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x4 > .c1 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x4 > .c1:last-child, .common-grid .row.x4 > .c1:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x4 > .c2 {
  width: 48.5%;
  margin-right: 3%; }
  .common-grid .row.x4 > .c2:last-child, .common-grid .row.x4 > .c2:nth-child(4n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x4 > .c2 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x4 > .c2:last-child, .common-grid .row.x4 > .c2:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x4 > .c2 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x4 > .c2:last-child, .common-grid .row.x4 > .c2:nth-child(1n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x4 > .c2 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x4 > .c2:last-child, .common-grid .row.x4 > .c2:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x4 > .c3 {
  width: 74.25%;
  margin-right: 3%; }
  .common-grid .row.x4 > .c3:last-child, .common-grid .row.x4 > .c3:nth-child(4n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x4 > .c3 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x4 > .c3:last-child, .common-grid .row.x4 > .c3:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x4 > .c3 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x4 > .c3:last-child, .common-grid .row.x4 > .c3:nth-child(1n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x4 > .c3 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x4 > .c3:last-child, .common-grid .row.x4 > .c3:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x5 > .c1 {
  width: 17.6%;
  margin-right: 3%; }
  .common-grid .row.x5 > .c1:last-child, .common-grid .row.x5 > .c1:nth-child(5n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x5 > .c1 {
      width: 31.33333%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c1:last-child, .common-grid .row.x5 > .c1:nth-child(3n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x5 > .c1 {
      width: 48.5%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c1:last-child, .common-grid .row.x5 > .c1:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x5 > .c1 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c1:last-child, .common-grid .row.x5 > .c1:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x5 > .c2 {
  width: 38.2%;
  margin-right: 3%; }
  .common-grid .row.x5 > .c2:last-child, .common-grid .row.x5 > .c2:nth-child(5n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x5 > .c2 {
      width: 65.66667%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c2:last-child, .common-grid .row.x5 > .c2:nth-child(3n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x5 > .c2 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c2:last-child, .common-grid .row.x5 > .c2:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x5 > .c2 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c2:last-child, .common-grid .row.x5 > .c2:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x5 > .c3 {
  width: 58.8%;
  margin-right: 3%; }
  .common-grid .row.x5 > .c3:last-child, .common-grid .row.x5 > .c3:nth-child(5n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x5 > .c3 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c3:last-child, .common-grid .row.x5 > .c3:nth-child(3n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x5 > .c3 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c3:last-child, .common-grid .row.x5 > .c3:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x5 > .c3 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c3:last-child, .common-grid .row.x5 > .c3:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x5 > .c4 {
  width: 79.4%;
  margin-right: 3%; }
  .common-grid .row.x5 > .c4:last-child, .common-grid .row.x5 > .c4:nth-child(5n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x5 > .c4 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c4:last-child, .common-grid .row.x5 > .c4:nth-child(3n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x5 > .c4 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c4:last-child, .common-grid .row.x5 > .c4:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x5 > .c4 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x5 > .c4:last-child, .common-grid .row.x5 > .c4:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x6 > .c1 {
  width: 14.16667%;
  margin-right: 3%; }
  .common-grid .row.x6 > .c1:last-child, .common-grid .row.x6 > .c1:nth-child(6n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x6 > .c1 {
      width: 31.33333%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c1:last-child, .common-grid .row.x6 > .c1:nth-child(3n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x6 > .c1 {
      width: 48.5%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c1:last-child, .common-grid .row.x6 > .c1:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x6 > .c1 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c1:last-child, .common-grid .row.x6 > .c1:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x6 > .c2 {
  width: 31.33333%;
  margin-right: 3%; }
  .common-grid .row.x6 > .c2:last-child, .common-grid .row.x6 > .c2:nth-child(6n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x6 > .c2 {
      width: 65.66667%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c2:last-child, .common-grid .row.x6 > .c2:nth-child(3n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x6 > .c2 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c2:last-child, .common-grid .row.x6 > .c2:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x6 > .c2 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c2:last-child, .common-grid .row.x6 > .c2:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x6 > .c3 {
  width: 48.5%;
  margin-right: 3%; }
  .common-grid .row.x6 > .c3:last-child, .common-grid .row.x6 > .c3:nth-child(6n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x6 > .c3 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c3:last-child, .common-grid .row.x6 > .c3:nth-child(3n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x6 > .c3 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c3:last-child, .common-grid .row.x6 > .c3:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x6 > .c3 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c3:last-child, .common-grid .row.x6 > .c3:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x6 > .c4 {
  width: 65.66667%;
  margin-right: 3%; }
  .common-grid .row.x6 > .c4:last-child, .common-grid .row.x6 > .c4:nth-child(6n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x6 > .c4 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c4:last-child, .common-grid .row.x6 > .c4:nth-child(3n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x6 > .c4 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c4:last-child, .common-grid .row.x6 > .c4:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x6 > .c4 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c4:last-child, .common-grid .row.x6 > .c4:nth-child(1n) {
        margin-right: 0; } }
.common-grid .row.x6 > .c5 {
  width: 82.83333%;
  margin-right: 3%; }
  .common-grid .row.x6 > .c5:last-child, .common-grid .row.x6 > .c5:nth-child(6n) {
    margin-right: 0; }
  @media screen and (min-width: 801px) and (max-width: 1280px) {
    .common-grid .row.x6 > .c5 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c5:last-child, .common-grid .row.x6 > .c5:nth-child(3n) {
        margin-right: 0; } }
  @media screen and (min-width: 681px) and (max-width: 800px) {
    .common-grid .row.x6 > .c5 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c5:last-child, .common-grid .row.x6 > .c5:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 680px) {
    .common-grid .row.x6 > .c5 {
      width: 100%;
      margin-right: 3%; }
      .common-grid .row.x6 > .c5:last-child, .common-grid .row.x6 > .c5:nth-child(1n) {
        margin-right: 0; } }

.small, .edit-grid .items .cols.c1 {
  font-size: 12px;
  line-height: 1.3em; }

.smallUppercase, .header > .inline.notifications a, .header > .inline.user-controls a, .content .aside .nav {
  font-size: 13px;
  line-height: 1.3em;
  text-transform: uppercase; }

body {
  position: relative;
  background: #303641;
  color: #fff;
  font: 14px/1.3em "Roboto", Arial, sans-serif;
  font-weight: 300; }

img {
  display: block; }

.red {
  color: #DA4453; }

.green {
  color: #82bc31; }

a {
  color: #0857a6;
  text-decoration: underline;
  outline: none; }
  a:hover {
    text-decoration: none; }

.bold, .stat .value, b, strong {
  font-weight: 500; }

.w100 {
  width: 100%; }

.w75 {
  width: 75%; }

.w50 {
  width: 50%; }

.w25 {
  width: 25%; }

.left {
  float: left; }

.right {
  float: right; }

.fitted img {
  max-width: 100%; }

.paginator li {
  display: inline-block;
  float: left; }
  .paginator li:first-child {
    margin-right: 5px; }
.paginator a {
  color: #333; }

h1 {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.2em; }
  h1 i.fa {
    font-size: 0.75em;
    margin-top: 0.25em; }

.bg-blue {
  background-color: #00b4f7;
  color: #fff;
  transition: 0.2s; }
  .bg-blue a {
    color: #fff; }
  .bg-blue:hover {
    background-color: #1cc1ff; }

.slide-up {
  display: none;
  position: fixed;
  z-index: 10;
  width: 81px;
  height: 100%;
  background: url("../img/slideUp.png")-21px 50% no-repeat #464e5e;
  opacity: 0.5;
  cursor: pointer; }
  .slide-up:hover {
    opacity: 1;
    background-position: 30px 50%; }
  .slide-up.top:hover {
    background-position: -72px 50%; }
  @media screen and (max-width: 800px) {
    .slide-up {
      width: 0; } }

.header {
  background-color: #23bab5; }
  .header > .inline {
    display: inline-block;
    float: left;
    height: 50px; }
    .header > .inline.logo {
      position: relative;
      z-index: 11;
      width: 240px;
      background-color: #272c35; }
      .header > .inline.logo img {
        max-width: 100%;
        margin: 0 auto; }
      @media screen and (max-width: 480px) {
        .header > .inline.logo {
          width: 100%; } }
    .header > .inline.notifications a, .header > .inline.user-controls a {
      display: table-cell;
      height: 50px;
      padding: 0 15px;
      vertical-align: middle;
      text-decoration: none;
      color: #fff; }
      .header > .inline.notifications a:hover, .header > .inline.user-controls a:hover {
        background-color: #1b8f8b; }
    .header > .inline.user-controls {
      float: right; }
    @media screen and (max-width: 480px) {
      .header > .inline {
        display: block;
        float: none; } }

.content .aside {
  position: absolute;
  width: 240px;
  z-index: 11; }
  .content .aside a {
    color: #fff;
    transition: 0.2s; }
  .content .aside .nav a {
    display: block;
    padding: 12px 50px 12px 20px;
    text-decoration: none;
    border-bottom: 1px solid #3b4250; }
    .content .aside .nav a.active, .content .aside .nav a:hover {
      background-color: #23bab5;
      border-color: #23bab5; }
  .content .aside .nav > li {
    position: relative;
    background-color: #303641; }
    .content .aside .nav > li > i {
      position: absolute;
      right: 0;
      z-index: 2;
      width: 40px;
      height: 42px;
      background: url("../img/darr.png") 50% 50% no-repeat #3b4250;
      cursor: pointer;
      transition: 0.2s; }
      .content .aside .nav > li > i:hover {
        background-color: #23bab5; }
    .content .aside .nav > li.active > i {
      background-image: url("../img/uarr.png"); }
    .content .aside .nav > li.active ul {
      display: block; }
  .content .aside .nav ul {
    display: none; }
  @media screen and (max-width: 640px) {
    .content .aside {
      position: relative;
      width: 100%; } }
.content > .wrapper {
  margin-left: 240px;
  padding: 50px 40px;
  background-color: #f5f5f5;
  color: #333; }
  @media screen and (max-width: 640px) {
    .content > .wrapper {
      margin-left: 0; } }

.stat a {
  text-decoration: none; }
.stat .item {
  margin-bottom: 15px; }
.stat .wrapper {
  position: relative;
  padding: 10px 10px 35px; }
.stat .value {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px; }

.edit-grid .search-form {
  padding-bottom: 30px; }
  .edit-grid .search-form .input {
    position: relative; }
    .edit-grid .search-form .input a {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      padding: 11px;
      text-decoration: none;
      color: #e3e3e3;
      transition: 0.2s; }
      .edit-grid .search-form .input a:hover {
        color: #333; }
.edit-grid .scope {
  margin-bottom: 20px; }
.edit-grid .del-confirm-src {
  display: none; }
.edit-grid .items:last-child {
  margin-bottom: 0; }
.edit-grid .items .cols {
  display: table-cell;
  height: 35px;
  padding: 0 10px;
  vertical-align: middle; }
  .edit-grid .items .cols.c1 {
    position: relative;
    width: 60px;
    text-align: center; }
    .edit-grid .items .cols.c1:hover {
      background: #da4453;
      color: #fff; }
    .edit-grid .items .cols.c1 .del-confirm {
      position: absolute;
      z-index: 10;
      top: 0;
      left: -3em;
      width: 3em;
      height: 100%; }
      .edit-grid .items .cols.c1 .del-confirm a {
        display: block;
        width: 100%;
        padding: 10px 0;
        text-decoration: none; }

.edit-form textarea {
  height: 20em; }

/*# sourceMappingURL=style.css.map */
