@import url(http://fonts.googleapis.com/css?family=Roboto:300,500&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: block; }

a, object, embed {
  outline: 0; }

input::-moz-focus-inner {
  border: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.smallUppercase, .content .aside .nav {
  font-size: 13px;
  line-height: 1.3em;
  text-transform: uppercase; }

body {
  background: #303641;
  color: #fff;
  font: 14px/1.3em "Roboto", Arial, sans-serif;
  font-weight: 300; }

.b, .header > .inline.user-controls, b, strong {
  font-weight: 500; }

.header {
  background-color: #23bab5; }
  .header > .inline {
    display: inline-block; }
    .header > .inline.logo {
      width: 250px;
      height: 50px;
      background-color: #272c35; }
    .header > .inline.user-controls {
      float: right; }
      .header > .inline.user-controls ul {
        display: table; }
        .header > .inline.user-controls ul li {
          display: table-cell;
          height: 50px;
          vertical-align: middle; }

.content .aside {
  position: absolute;
  width: 250px; }
  .content .aside a {
    color: #fff;
    transition: 0.2s; }
  .content .aside .nav a {
    display: block;
    padding: 12px 50px 12px 20px;
    text-decoration: none;
    border-bottom: 1px solid #363d4a; }
    .content .aside .nav a.active, .content .aside .nav a:hover {
      background-color: #23bab5;
      border-color: #23bab5; }
  .content .aside .nav > li {
    position: relative; }
    .content .aside .nav > li > i {
      position: absolute;
      right: 0;
      width: 40px;
      height: 42px;
      background: url("../img/darr.png") 50% 50% no-repeat;
      cursor: pointer;
      transition: 0.2s; }
      .content .aside .nav > li > i:hover {
        background-color: #23bab5; }
    .content .aside .nav > li.active > i {
      background-image: url("../img/uarr.png"); }
    .content .aside .nav > li.active ul {
      display: block; }
  .content .aside .nav ul {
    display: none; }
.content .wrapper {
  margin-left: 250px;
  background-color: #f2f4f8;
  color: #333; }

/*# sourceMappingURL=style.css.map */
